---
import { weaviateClient } from "@src/lib/weaviate";
import { Debug } from "astro:components";
import Layout from "@src/components/Layout.astro";
import MixesList from "@src/components/MixesList.astro";

const searchFields =
  "mixId date title textForEmbedding blurb imageUrl iframe hyperlinkUrl";

const mixesData = await weaviateClient.graphql
  .get()
  .withClassName("Mix")
  .withLimit(20)
  .withFields(searchFields)
  .withSort([{ path: ["date"], order: "desc" }])
  .do();

const mixes = mixesData.data.Get.Mix;

const exampleSearches = [
  {
    q: "upbeat funky",
    searchType: "vector",
    label: "Vector search - 'upbeat funky'",
  },
  {
    q: "deep house",
    searchType: "hybrid",
    label: "Hybrid search - 'deep house'",
  },
  {
    q: "rolling AND driving AND house",
    not: "aggressive",
    searchType: "vector",
    label:
      "Vector search - 'rolling AND driving AND house' but not 'aggressive'",
  },
];

function getSearchUrl(search) {
  const searchParams = new URLSearchParams({
    q: search.q,
    type: search.searchType,
  });

  if (search.not) {
    searchParams.append("not", search.not);
  }

  return `/search?${searchParams.toString()}`;
}
---

<Layout>
  <p>
    Welcome to the mix explorer! This is a site that lets you explore <a
      href="https://ra.co/mix-of-the-day">Resident Advisor's Mix of the Day</a
    >. It allows you to search for mixes by vibe.
  </p>
  <p>Here are some example searches to get started:</p>
  <ul>
    {
      exampleSearches.map((search) => (
        <li>
          <a href={getSearchUrl(search)}>{search.label}</a>
        </li>
      ))
    }
  </ul>
  <MixesList {mixes} />
  <Debug {mixes} />
</Layout>
