---
import { findMixes } from "@src/lib/weaviate/query";

import Layout from "@src/components/Layout.astro";
import MixListItem from "@src/components/MixListItem.astro";
import Pagination from "@src/components/Pagination.astro";

const searchQuery = Astro.url.searchParams.get("q");
const excludeQuery = Astro.url.searchParams.get("not");
const searchType = Astro.url.searchParams.get("type") || "hybrid";

const pageNumStr = Astro.url.searchParams.get("page-num") || "1";
const pageNum = parseInt(pageNumStr, 10);

const perPageStr = Astro.url.searchParams.get("per-page") || "20";
const perPage = parseInt(perPageStr, 10);
const offset = (pageNum - 1) * perPage;

if (!searchQuery) {
	return {
		status: 400,
		body: "Missing query parameter 'q'",
	};
}

const mixes = await findMixes({
	nearText: searchQuery,
	moveAwayFromText: excludeQuery,
	searchType,
	fields: "mixId title textForEmbedding blurb imageUrl iframe hyperlinkUrl date _additional { id }",
	limit: perPage,
	offset,
});
---

<Layout {searchType} {searchQuery} {excludeQuery} {perPage}>
	<h2>Search results</h2>
	<ul class="mixes-list">
		{mixes.map((mix) => <MixListItem {mix} />)}
	</ul>

	<Pagination {pageNum} />
</Layout>
