---
import Htmx from "htmx.org/dist/htmx.min.js?url";
import PlayerDetails from "./PlayerDetails.astro";
import SearchForm from "./SearchForm.astro";
import "@src/styles/global.css";

const { searchQuery, excludeQuery, searchType, perPage } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mix of the Day Explorer</title>
		<script src={Htmx} type="module" is:inline></script>
	</head>
	<body>
		<h1>Mix of the Day Explorer</h1>
		<div id="page-container">
			<SearchForm {searchQuery} {excludeQuery} {searchType} {perPage} />
			<main>
				<slot />
			</main>
		</div>
		<PlayerDetails />
	</body>
</html>
