---
import PlayMixButton from "./PlayMixButton.astro";
import RAImage from "./RAImage.astro";
const { mix } = Astro.props;
---

<h2>{mix.title} ({mix.date?.split("T")[0]})</h2>
<PlayMixButton {mix} />

<div class="image-and-text-flex">
  <div>
    <RAImage src={mix.imageUrl} height="200" width="200" quality="100" /><br />
  </div>
  <div class="text">
    <p><strong>{mix.blurb}</strong></p>
    <div set:html={mix.content} />
  </div>
</div>
