---
import PlayMixButton from "./PlayMixButton.astro";
import RAImage from "./RAImage.astro";

const { mix } = Astro.props;
---

<li class="stretch-link-container">
    <RAImage src={mix.imageUrl} height="112" width="200" quality="80" /><br />
    <a
        data-astro-prefetch
        hx-boost="true"
        hx-target="main"
        hx-select="main"
        class="stretch-link"
        href={`/mix/${mix.mixId}`}>{mix.title}</a
    ><br />
    <span style="font-size:smaller; font-family: monospace"
        >{mix.date?.split("T")[0]}</span
    ><br />
    {mix.blurb}
    <PlayMixButton {mix} />
</li>
